# Ignore netbeans metadata
/nbproject/
# Ignore the following HCRHS config files
config/config.php
config/log4php.config.xml
# Ignore the HCRHS LDAP config file
plugins/Authentication/Ldap/Ldap.config.php
# Ignore the HCRHS SAML config file
plugins/Authentication/Saml/Saml.config.php
